.placeOrderClass {
  width: 80%;
  margin: 10px auto;
  /* border: 1px solid gray; */
  border-radius: 5px;
  min-height: auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.restuarantName {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgb(99, 99, 99);
  padding: 10px;
  color: white;
}

.orderForm {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.coloumn1,
.coloumn2 {
  width: 40%;
}

label {
  color: rgb(80, 80, 80);
  font-size: 1.2rem;
}

input {
  width: 100%;
  outline: none;
  margin: 5px 0 10px 0;
  border: 1px solid rgb(204, 203, 203);
  padding: 5px;
  border-radius: 5px;
}

.totalCost {
  font-size: 1.2rem;
}

.totalItems {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.orderItems {
  margin: 20px;
}

.checkoutButton {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.checkout {
  font-size: 1rem;
  width: 10%;
  color: #ffffff;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgb(69, 177, 105);
  background-color: rgb(80, 200, 120);
  box-shadow: 1px 1px 4px 0px #b9b9b9;
  margin: 10px auto;
  text-align: center;
}

.checkout:hover {
  transition: 0.2s;
  color: #ffffff;
  background-color: rgb(80, 200, 120);
  box-shadow: 1px 1px 0px 1px rgb(0, 48, 0);
}

.checkout:active {
  color: #ffffff;
  background-color: #3e8e41;
  /* box-shadow: 0 2px #666; */
  box-shadow: none;
}
