.listingClass {
  width: 80%;
  margin: 20px auto;
  display: flex;
}

.listingFilter {
  width: 25%;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  height: 50vh;
  margin: 10px;
  box-shadow: 1px 1px 2px 0px #b9b9b9;
  padding: 20px;
}
